* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 20px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;

  background: #1f1e1e;
}

main {
  padding: 20px;

  background: #ffdccf;
  border-radius: 8px;

}

/* scroll related css */
.scrollable {
  overflow-y: scroll;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: #f0f0f0;
}

main::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
/* end scroll related css */